<!DOCTYPE html>
<html>
<head>
    <title>Summary</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='v1_styles.css') }}">
    <script type="module" src="{{ url_for('static', filename='v1_script.js') }}"></script>
</head>
<body>
    <h1>Summary of log file</h1>
    <div class="info">
        <p>Updated: <span id="timestamp">{{ timestamp }}</span></p>

        <div class="search-container">
            <input type="text" id="searchInput" placeholder='192.168.0.1 "2025-12-16 23:38:51"'>
            <button id="searchButton">Search</button>
            <span class="info-tooltip">
                ?
                <span class="tooltip-text">For value search, type value e.g 8.8.8.8...
                    For timestamp search, add "" e.g. "12-16"
                For combined search, use 8.8.8.8 "12-16"</span>
            </span>
            <button id="filteredButton">Filtered Entries</button>
            <div id="searchResults" aria-live="polite"></div>
        </div>
        
        <div class="timerange-container">
            <label for="startDate">Start Date:</label>
            <input type="date" id="startDate" placeholder="yyyy-mm-dd">
            <label for="startTime">Time:</label>
            <input type="time" id="startTime" value="00:00:00" step="1">
            
            <label for="endDate">End Date:</label>
            <input type="date" id="endDate" placeholder="yyyy-mm-dd">
            <label for="endTime">Time:</label>
            <input type="time" id="endTime" value="23:59:59" step="1">
            
            <button id="applyTimeRangeButton">Apply Time Range</button>
            <button id="clearTimeRangeButton">Reset</button>
        </div>
    </div>
    
    <div id="metromap-container">
        <div class="mermaid">{{ metromap|safe }}</div>
    </div>
    
    <div id="nodeModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2 id="modalTitle"></h2>
            <div id="modalContent"></div>
        </div>
    </div>
</body>
</html>
